{% extends 'base.html' %}
{% block title %}Boggle{% endblock %}

{% block content %}
    <div id="everything">
        <div id="banner">
            <h1>Boggle!</h1>
        </div>
        <div id="scoreboard">
            <p>High Score: <span id="highscore"> {{ highscore }}</span></p> 
            <p>Score: <span id="score"></span></p> 
            <p>Times Played: <span id="played">{{ plays }}</span></p>
        </div>
        <div id="countdown">
            <p>Time: <span id="timer"></span></p>
        </div>
    
        <div id="gameboard">
            <table>
                {% for i in session['game_board'] %}
                    <tr>
                    {% for j in i %}
                        <td>{{j}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="guessform">
            <form action="">
                <p> Make Your Guess</p> 
                <p><input type="text" name="guess" id="frm"></p>
                <button id="btn">Submit</button>
            </form>
        </div>
        <div id="messagebox">
            <p id="msg"></p>
        </div>
    </div>
{% endblock %}
